[submodule "_js/Seriouslyjs"]
	path = _js/Seriouslyjs
	url = https://github.com/odbol/Seriously.js.git
[submodule "_js/jQuery-Knob"]
	path = _js/jQuery-Knob
	url = https://github.com/odbol/jQuery-Knob
