#musicControls {
	position: absolute;
	left: 5px;
	bottom: 5px;
	z-index: 910;
	
	width: 105px; /*default to hiding the music player*/
	height: 32px;
	overflow:hidden;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease;
}

#musicControls.recording {
	height: 200px;
	width: 90% !important;
	min-width: 400px;
}

	#musicHolder {
		position:absolute;
		left:105px; /*hide the play button so we use our own. yes this is very sketchy*/
		z-index:10;
	}

	#musicControls ul {
		z-index:20;
		
		/*hide the player behind it:*/
		position:relative;
		background:#000;
	}

	#musicControls .button {
		cursor:pointer;
		overflow:hidden;
		display:block;
		float:left;
	}

	#musicControls .button .ui-icon {
		text-indent: 9999px
	}
	
	#musicControls ul.icons {
		float: left;
		margin: 0;
		padding: 4px 0;
    }


.playing #playButton .ui-icon-play {
	background-position: -16px -160px;
}

#recordButton .ui-icon,
#recordButton:hover .ui-icon {
	background-image: url("../_js/jquery-ui/css/vader/images/ui-icons_cd0a0a_256x240.png")
}

#recordButton.ui-state-default,
#recordButton:hover {
	background: #333;
}
#recordButton:hover,
.recording #recordButton {
	background: url("../_js/jquery-ui/css/vader/images/ui-bg_highlight-soft_60_dddddd_1x100.png") repeat-x scroll 50% 50% #DDDDDD;
}

body #musicControls #shareRButton {
	font-size: 10px;
	text-transform: uppercase;
	padding: 2px 7px;
}
#shareRButton:hover {
	background-color: #a00;
	color: #fff;
}


/***** timeline ******/
#timeline {
	width: 99%;
	min-width: 300px;
	position:relative;
}
	.scrollHolder {
		overflow: auto;
		width: 100%;
	}
	
	#timelineHolder {
		position: relative;
		width:99%;
	}
	
	#timeline #timelineLayers {
		clear:both;
	}
	
	#timeline .timelineLayer {
		position: relative;
		width: 100%;
		height: 45px;
		background: #333;
		border: 1px solid #666;
		margin: 5px 0;
		
		/*overflow:hidden; interferes with draggables*/
	}
	
		#timeline .ui-draggable {
			opacity: 0.7;
		}
		
		#timeline .ui-draggable:hover {
			opacity: 0.96;
		}
			
	#timeline .clipThumb, 
	#timeline .clipThumb img {
		height: 45px;
		width: 45px;
	}
	
	#timeline .clipThumb {
		position:absolute;
		top: 0;
		z-index: 5;
	}
	
	#playhead {
		position: absolute;
		height: 150px;
		width: 1px;
		bottom: 0;
		background: #F78A00;
		opacity: 0.9;
		z-index: 50;
		box-shadow: 0px 0px 3px #F78A00;
	}
	
	#timeline .layerOpacity {
		position:absolute;
		bottom: 0px; 
		width: 10px;
		border: 1px solid #f00;
		border-bottom: none;
		background: #500;
		opacity: 0.65;
		z-index: 10;
	}
	
		#timeline .layerOpacity.up {
			border-top-left-radius: 97%;
		}
		#timeline .layerOpacity.down {
			border-top-right-radius: 97%;
		}
	
	#timeline .composition {
		position:absolute;
		top: 0;
		width: 10px;
		height: 3px;
		border: 1px solid #333;
		background: #ccc;
		overflow:hidden;
		z-index: 20;
	}
	
	
	#timeline .buttons {
		float:right;
		display:none;
	}
	
	.recording #timeline .buttons {
		float:right;
		display:block;
	}
	
	/* for dragging to trash */	
	#timeline #deleteButton {
		width: auto;
	}
		
		#timeline #deleteButton .ui-icon {
			float:right;
		}
	
	#timeline .deleteMsg {
		display:none;
		text-transform: uppercase;
		font-size: 10px;
		color: #fff;
		padding: 2px;
		
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all  0.3s ease;
	}
	
	#timeline.dragging .deleteMsg {
		display:block;
		width: 130px;
		float: left;
	}

	
	
/***** intro screen ******/

.licenseText {
	display:none;
}

.error {
	background-color: #a00;
	color: #fff;
	padding: 2em;
}

body div.intro {
	width: 650px;
	margin: 30px auto;
	float:none;
	text-align:center;
	white-space: normal;
}

	body .intro .musicLogo a {
	  background: url("http://battlehooch.com/images/organic/battlehooch.png") no-repeat scroll 0 0 transparent;
	  display: block;
	  height: 82px;
	  overflow: hidden;
	  padding: 2px;
	  width: 418px;
	  text-indent: -9999px;
	  font-size: 0;
	  margin: 0 auto;
	}
	
	
	.intro #startButtons {
		margin: 2em 0;
	}
	
		.intro #startButtons .button {
			height: auto;
			width: 270px;
		}
			.intro #startButtons .button:hover {
				background-color: #a00;
			}
		
			.intro #startButtons .button h3 {
				font-size: 20px;
			}
			
			
			
			
/*** share screen ****/
#shareTrackScreen {
	z-index:1100;
	position:absolute;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -200px;

	padding: 20px;
	text-align: center;
	
	
	width: 400px;
	height: 175px;
	
	opacity: 1.0;
	
	background-color: rgba(0, 0, 0, 0.7);
}

	#shareTrackScreen h1 {
		float: none;
		font-size: 28px;
		margin: 0 0 20px 0;
		padding: 0;
	}
	
	#shareTrackScreen h2 {
		font-size: 26px;
		margin-top: 10px;
	}
	
	#shareTrackScreen input {
		width:350px;
	}
	
	#shareTrackScreen .shareButtons {
		margin: 2em auto 5em auto;
		width: 140px;
	}
	
		#shareTrackScreen .shareButtons .shareButton {
			float:left;
			width: 70px;
		}
	
	#shareTrackScreen .record {
		margin-top: 20px;
		background-color: #a00;
	}
	
	#shareTrackScreen .close {
		margin-top: 20px;
	}
	
	
	
	
/* LSD additions: */
#buttonStop {
	display:none;
}
#buttonFullscreen {
	border-radius: 0;
	border: none;
	margin-top: 3px;
}

	#buttonFullscreen .ui-icon {
		background: url(icons/stamp-lsd-16.png) no-repeat 0 0
	}
	
	
#backgroundCanvasControls > h1 .name {

}

#backgroundCanvasControls > h1 .attribTitle {
	font-size: 10px;
	font-style: italic;
	color: #aaa;
	margin-left: 0.7em;
}

#interactiveToggle {
	display:none;
}

/*
#backgroundCanvasControls > h1 .attribTitle:before {
	content: " - ";
}
*/